# Environment variables declared in this file are automatically made available to Prisma.

# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.

# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Tutorial

# Buat Database Dulu di XAMPP

# Hapus "-example" di file ini

DATABASE_URL="mysql://root:@localhost:3306/reusemart"
JWT_SECRET_KEY=
PORT=
SENDER_EMAIL=
SENDER_PASSWORD=
AWS_ACCESS_KEY_ID =
AWS_SECRET_ACCESS_KEY =
AWS_SESSION_TOKEN =
